<!DOCTYPE html>
<html>
   <head>
      <title></title>
   </head>
   <body>
      <div >
         <table width="100%">
            <tr >
               <td >
                  <table>
                     <tr>
                        <td class="title">
<!--                           <img src="https://www.freepnglogos.com/uploads/medicine-logo-png-1.png" style="width:50%; max-width:300px;height: 4em">-->
                        </td>
                        <td>
                           Invoice #: #Number#<br> 
                           Created: #Date#<br> 
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr >
               <td >
                  <table>
                     <tr>
                        <td>
                           #DoctorName#<br>
                           #Address#<br>
                           #Mobile#
                        </td>
                        <td>
                           #PatientName#<br> 

                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         #table#
      </div>
   </body>
</html>
